sudo: false
dist: trusty
language: python
python:
  - "2.7"
  - "3.4"
  - "3.5"
  - "3.6"
  - "nightly"
  - "pypy-5.4.1"
  - "pypy-5.6.0"
  - "pypy-5.7.1"
  - "pypy2.7-5.8.0"
  - "pypy2.7-5.9.0"
  - "pypy3.5-5.8.0"
  - "pypy3.5-5.9.0"
matrix:
  include:
  - python: 3.7
    dist: xenial
    sudo: true
  - python: 3.8
    dist: xenial
    sudo: true
  - python: pypy
    dist: xenial
    sudo: true
  - python: pypy3
    dist: xenial
    sudo: true
before_install:
  - pip install --upgrade pip setuptools
install:
  - pip install -r requirements.txt
  - pip install coveralls
script: coverage run --source=dropbox setup.py test
after_success: coveralls
deploy:
  provider: pypi
  user: joamag
  password:
    secure: XYnXUxSlUjVY9nQL4bFttroFec82thtIYcukJ2TOJEdEJ45w6tD9h8EfSt7azgbEWhDibWMlnjIvxkhH+cx38SJ22YibQtHGHzVpOMyaSyeAjB0NvJ91sfaJNYej6oKZwiXLd3DuRgwYEnfBgAyaiE0ysja6UnrLl1RL6cYZb7bI/A7Kcjvum8++lLoGI1bYzvXfw34z3B/mFZ6q5+YnsQtEqHxxO9iad8GQAe2Jhqo7w6VzkrpdUZifHHX5YgoIEyRwtRkd3IgDX70U5HfzvN0DrUMt7lQsg+Hx8bNe6SU7rEkL4xTLQw7bDKRVDK4ecQGocDm/A1kI1R3DVZ7I9fKfuQFMY1DNKVAas1BeM8iZM/6pRWLsYuqE2dMj/ZKTDqMhA43sc2r56Bl3outTcjTNZsxxpkaYWhElDCyhJEY3nAn5GB+iF4bxH1t4gTFMNRC5Yfcw+lh6HRNRHYqhRUUJ7Ox0/YARewC5z299cHVjtwrqufeH8eNWw0JxLmaO+uoC99X3JlbaKGO2VOs3Bh7fwRfFNI7T/UT1fuW2ee1iBmbf7+ecp0CqOx6NvJsJfC5yuPMDW2iGBwb6zyfOyUroIOsmV0U4qKmXSmjL0tRmPQh9WE4IVn+ZeU1UUooPdYlWBXooUaY2JFXDVEMQ/q3O1jwxESy/DFsPkexC27k=
  distributions: sdist bdist_wheel
  on:
    tags: true
    python: "2.7"
